ul.menu {
  position: relative;

  &-item {
    position: static;
  }

  .sub-menu {
    @include full-reset();
    @include container(rem(1753));
    @include dflex(center, wrap, flex-start);
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100%  + 1.8125rem);
    padding: rem(60.5) 0 0;
    float: none;
    box-shadow: none;
    margin: auto;
    width: 100%;
    background-color: $c-white;
    transform: translateY(10%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    z-index: 999;

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: 100%;
      width: 100%;
      top: 0;
      height: calc(100%);
      background-color: $c-white;
    }

    &::after {
      left: 100%;
      right: auto;
    }

    li {
      margin-bottom: rem(60.5);
      margin-right: rem(70);

      a {
        color: $c-black;
        font-size: rem(18);
        font-weight: 300;
        font-style: normal;
        text-align: left;
        letter-spacing: rem(0.43);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .sub-menu._active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}