/wp-content/themes/hedo/node_modules
/wp-content/languages
/wp-content/upgrade
/wp-content/plugins/advanced-custom-fields-pro-master/all_site_ego/
/wp-content/plugins/advanced-custom-fields-pro-master/
/wp-admin
/wp-includes
/wp-config.php