.button {
  &-link {
    position: relative;
    font-family: 'Matter SQ';
    font-weight: 300;
    text-decoration: underline;
    z-index: 3;

    &:hover {
      text-decoration: none !important;
      color: $c-white;
    }

    &-24 {
      position: relative;
      color: $c-white !important;
      font-family: 'Matter SQ';
      font-size: rem(26);
      line-height: rem(64);
      font-weight: 300;
      text-decoration: underline;
      z-index: 3;

      &:hover {
        text-decoration: none !important;
        color: $c-white;
      }
    }

    &-20 {
      font-size: rem(20) !important;
    }
  }

  &-add {
    @include reset-button();
    width: 100% !important;
    height: rem(91) !important;
    border-radius: 0 !important;
    background-color: $c-green !important;
    @include dflex(center, wrap, center);
    color: $c-white !important;
    font-size: rem(20) !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    transition: background 0.5s ease-in-out;

    &:hover {
      background: $c-hover !important;
    }
  }

  &_account {
    color: $c-white !important;

    &:hover {
      background: $c-hover !important;
      background-color: $c-hover !important;
    }
  }

  &__radio {
    &-input[type=radio],
    &-input[type=checkbox] {
      display: none;
    }

    &-label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: rem(40);
      margin-right: 0;
      user-select: none;
      color: $c-default;
      font-size: rem(18);
      font-weight: 300;
      line-height: rem(20);
      letter-spacing: rem(0.72);

      &::before,
      &::after {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        border: 1px solid #c3a64d;
        border-radius: 50%;
        position: absolute;
        left: 0;
        bottom: 1px;
      }

      &::after {
        background-color: $c-black;
        transform: scale(0.4);
        opacity: 0;
        visibility: hidden;
        transform: opacity .3s ease-in-out, visibility .3s ease-in-out;
      }

      a {
        color: $c-black !important;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &-input[type=radio]:checked + label,
    &-input[type=checkbox]:checked + label {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.woocommerce a.remove,
.remove {
  width: rem(15) !important;
  height: rem(15) !important;
  font-size: rem(22) !important;
  color: #838282 !important;
  transform: scale(1.4, 1);
  font-weight: 300 !important;
  text-decoration: none;

  &:hover {
    background: none !important;
    color: #838282 !important;
  }
}