.mt-27 {
  margin-top: rem(34);
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-5 {
  margin-left: rem(5);
}

.mtb-80 {
  margin-top: rem(78);
  margin-bottom: rem(78);
}

.mb-48 {
  margin-bottom: rem(48);
}

.mt-33 {
  margin-top: rem(33);
}

.mtb-75 {
  margin-top: rem(75);
  margin-bottom: rem(75);
}

.mb-91 {
  margin-bottom: rem(91);
}

.mb-80 {
  margin-bottom: rem(80);
}

.mb-42 {
  margin-bottom: rem(42);
}

.plr-14 {
  padding-left: rem(14);
  padding-right: rem(14);
}

.ptb-38 {
  padding-top: rem(31);
  padding-bottom: rem(31);
}

.mt-38 {
  margin-top: rem(35);
}

.mt-20 {
  margin-top: rem(20);
}

.mb-20 {
  margin-bottom: rem(30);
}

.mr-15 {
  margin-right: rem(15);
}

.ml-15 {
  margin-left: rem(15);
}

.mt-15 {
  margin-top: rem(15) !important;
}

.mb-15 {
  margin-bottom: rem(15) !important;
}

.mt-9 {
  margin-top: rem(90);
}



.mrl-34 {
  margin-left: rem(34);
  margin-right: rem(34);
}


.mt-10 {
  margin-top: rem(10);
}

.ml-10 {
  margin-left: rem(10);
}

.mr-10 {
  margin-right: rem(10);
}

.mb-10 {
  margin-bottom: rem(10);
}

.mt-12 {
  margin-top: rem(12);
}

.ml-12 {
  margin-left: rem(12);
}

.mr-12 {
  margin-right: rem(12);
}

.mb-12 {
  margin-bottom: rem(12);
}

.mt-30 {
  margin-top: rem(30);
}

.ml-30 {
  margin-left: rem(30);
}

.mr-30 {
  margin-right: rem(30);
}

.mb-30 {
  margin-bottom: rem(30);
}

.mt-50 {
  margin-top: rem(50);
}

.ml-50 {
  margin-left: rem(50);
}

.mr-50 {
  margin-right: rem(50);
}

.mb-50 {
  margin-bottom: rem(50);
}

.mr-reset {
  margin: 0 !important;
}

.mb-25 {
  margin-bottom: rem(25) !important;
}

.mb-35 {
  margin-bottom: rem(35) !important;
}