.txt-defualt {
  color: $c-black;
  font-family: 'Neue Montreal';
  font-size: rem(14);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.txt-28 {
  color: $c-black;
  font-family: 'Neue Montreal';
  font-size: rem(28);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
